.signup {
    margin-top: 100px;
}

.form-signup {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 5px;
    padding: 20px;
    /* text-align: center; */
    margin: 0 500px;
    box-shadow: 0 0 5px 5px white;
}
h1 {
    text-align: center;
    color: white;
    font-size: 2em;
    text-transform: uppercase;
}
input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    outline: none;
}

.submit {
    transition: all 0.3s linear;
    text-transform: uppercase;
    font-weight: bold;
}

.submit:hover {
    background-color: green;
    color: white;
}